<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB Video List</title>
</head>
<body>
    <h2>WEB Sessions</h2>
    <ul>
        {% for wvideo in videos %}
            <li>{{wvideo.title}}<br>
                <a href="{{wvideo.e_book.url}}">View E-book</a><br>
                <a href="{{wvideo.video_file.url}}">watch video</a>
            </li>
            {% endfor %}
    </ul>
    
</body>
</html>